<launch>

  <arg name="nao_ip"          default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port"        default="$(optenv NAO_PORT 9559)" />

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" clear_params="true">
    <rosparam command="load"  file="$(find nao_bringup)/config/nao_analysers.yaml" />
  </node>

  <!-- upload nao robot model V40 by default-->
  <include file="$(find nao_description)/launch/robot_state_publisher.launch" >
    <arg name="version"       value="V40" />
  </include>

  <!-- publish joint states and basic actuators -->
  <include file="$(find naoqi_driver_py)/launch/test_naoqi.launch">
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- enable walker -->
  <include file="$(find nao_apps)/launch/walker.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- enable alife -->
  <include file="$(find nao_apps)/launch/alife.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- enable bump sensors -->
  <include file="$(find nao_apps)/launch/tactile.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- enable speech -->
  <include file="$(find nao_apps)/launch/speech.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- enable nao_audio -->
  <include file="$(find nao_interaction_launchers)/launch/nao_audio_interface.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- enable behaviors; to enable go to: roscd nao_apps/launch to see -->
  <include file="$(find nao_apps)/launch/behaviors.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- launch pose manager -->
  <include file="$(find naoqi_pose)/launch/pose_manager.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
    <arg name="nao_port"      value="$(arg nao_port)" />
  </include>

  <!-- Specify here all dependent settings (default top) -->
  <include file="$(find naoqi_sensors_py)/launch/camera.launch" ns="nao_robot/camera/top" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- Specify here all dependent settings (default top) -->
  <include file="$(find naoqi_sensors_py)/launch/microphone.launch" ns="nao_robot/microphone" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

</launch>
